.container {
  padding: 64px 24px;
  display: flex;
  flex-direction: column;
  gap: 120px;
  background-color: #FFFFFF;
}

.product {
  display: flex;
  flex-direction: column;
  gap: 32px;
  text-align: center;
}

.imageContainer {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.productImage {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.productInfo {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.newProduct {
  color: #D87D4A;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.productName {
  color: #000000;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;
}

.productInfo p {
  color: #000000;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  opacity: 0.5;
}

.seeProduct {
  background: #D87D4A;
  padding: 15px 30px;
  border: none;
  color: #FFFFFF;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.seeProduct:hover {
  background-color: #FBAF85;
} 